#div1 {
    position: absolute;
    top: 9px;
    left: 9px;
    height: 100px;
    width: 100px;
    background-color: black;
    border: 1px solid white;
}

#div2 {
    position: relative;
    top: -1px;
    left: -1px;
    height: 102px;
    width: 102px;
    background-color: black;
    border-radius: 15px;
}